<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kutu Wallet</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header>
        <div class="container">
            <h1>Kutu Wallet</h1>
            <nav>
                <ul>
                    <li><a href="{{ url_for('add_expense') }}" class="nav-link">Add Expense</a></li>
                    <li><a href="{{ url_for('view_expenses') }}" class="nav-link">View Expenses</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main class="container">
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2024 Kutu Wallet</p>
    </footer>
</body>
</html>
